<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo2"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArtGalleryApp"
        tools:targetApi="31">
        <activity
            android:name=".ConfirmOrderActivity"
            android:exported="false" />
        <activity
            android:name=".Cart.CartActivity"
            android:exported="false" />
        <activity
            android:name=".UploadProduct.ResturantProduct"
            android:exported="false" />
        <activity
            android:name=".UploadProduct.EducationProduct"
            android:exported="false" />
        <activity
            android:name=".UploadProduct.ShopProduct"
            android:exported="false" />
        <activity
            android:name=".UploadProduct.HotelProduct"
            android:exported="false" />
        <activity
            android:name=".UploadProduct.DarweishProduct"
            android:exported="false" />
        <activity
            android:name=".UploadProduct.DigitalPotraitProduct"
            android:exported="false" />
        <activity
            android:name=".UploadProduct.DigitalProduct"
            android:exported="false" />
        <activity
            android:name=".UploadProduct.CharcoalProduct"
            android:exported="false" />
        <activity
            android:name=".UploadProduct.IslamicProduct"
            android:exported="false" />
        <activity
            android:name=".UploadProduct.CalligraphyProduct"
            android:exported="false" />
        <activity
            android:name=".UploadProduct.CeramicProduct"
            android:exported="false" />
        <activity
            android:name=".UploadProduct.AbstractProduct"
            android:exported="false" />
        <activity
            android:name=".Product.SelectCategoryActivity"
            android:exported="false" />
        <!--
 <activity
            android:name=".DigitalPotrait"
            android:exported="false" />
        <activity
            android:name=".Category.DigitalArt"
            android:exported="false" />
        <activity
            android:name=".Category.CeramicArt"
            android:exported="false" />
        <activity
            android:name=".AbstractArt"
            android:exported="false" />
        -->
        <activity
            android:name=".Admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".Product.UploadProductActivity"
            android:exported="false" />
        <activity
            android:name=".Product.SingleProductActivity"
            android:exported="false" />
        <activity
            android:name=".Product.ProductMainActivity"
            android:exported="false" />
        <activity
            android:name=".OTP.entermobileno"
            android:exported="false" />
        <activity
            android:name=".OTP.verifyphoneNo"
            android:exported="false" />
        <activity
            android:name=".RateActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".FilterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MessageChat"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".RecyclerCatActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDJkFn_d-DvqahlUMSSaa_gCWgu6az4SdY" />

        <activity
            android:name=".Category.ShopActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Category.EducationActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Category.HotelActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Category.ResturantActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ForgetPassword"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".CustomizationActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ShipmentActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DrawerActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Category.PencilCharcoalActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Category.CeramicArtActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Category.SufismActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Category.IslamicArtActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Category.CalligraphyActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Category.DigitalPotraitActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Category.DigitalArtActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Category.AbstractActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Dashboard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UserProfile"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".WelcomeScreen.RegisterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".WelcomeScreen.LoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".WelcomeScreen.Welcomescreen"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".WelcomeScreen.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>